@page "/clients"
@inject ISnackbar Snackbar
@using Mdl = BlazorBoilerplate.Shared.Models
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using System
@using Microsoft.VisualBasic
<TopSection>
    <Breadcrumbs>
        <Breadcrumb Title="Client Admin"/>
    </Breadcrumbs>
</TopSection>

<MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-4" Style="margin-left: 10px;">Clients</MudText>
<MudTabs Elevation="25" Color="Color.Transparent" Rounded="true" PanelClass="mt-6">

<MudTabPanel Text="Client">
    <MudForm Model="@cc">
        <MudGrid>
            <!-- Clients -->
            <MudItem xs="12" sm="12" md="12">
                <MudCard Elevation="25">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText>Profile Details</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudGrid>
                            <!-- IsActive -->
                            <MudItem xs="1" md="1">
                                <MudTextField @bind-Value="@cc.Active" Label="Is Active" Variant="Variant.Filled" Margin="Margin.Dense"/>
                            </MudItem>
                            <!-- Salutation -->
                            <MudItem xs="1" md="1">
                                <MudTextField @bind-Value="@cc.Salutation" Label="Salutation" Variant="Variant.Filled" Margin="Margin.Dense"/>
                            </MudItem>
                            <!-- LastName -->
                            <MudItem xs="11" md="3">
                                <MudTextField @bind-Value="@cc.LastName" Label="Last Name" Variant="Variant.Filled" Margin="Margin.Dense"/>
                            </MudItem>
                            <!-- FirstName -->
                            <MudItem xs="11" md="3">
                                <MudTextField @bind-Value="@cc.FirstName" Label="First Name" Variant="Variant.Filled" Margin="Margin.Dense"/>
                            </MudItem>
                            <!-- ssn -->
                            <MudItem xs="6" md="4">
                                <MudTextField @bind-Value="@cc.SocialSecurNum" Label="S.S.N" Variant="Variant.Filled" Margin="Margin.Dense"/>
                            </MudItem>
                            <!-- Spouse Row 2 -->
                            <MudItem xs="6" md="4">
                                <MudTextField @bind-Value="@cc.SpouseLastName" Label="Spouse Last Name" Variant="Variant.Filled" Margin="Margin.Dense"/>
                            </MudItem>
                            <MudItem xs="6" md="4">
                                <MudTextField @bind-Value="@cc.SpouseFirstName" Label="Spouse First Name" Variant="Variant.Filled" Margin="Margin.Dense"/>
                            </MudItem>
                            <MudItem xs="6" md="4">
                                <MudTextField @bind-Value="@cc.SpouseSocialSecurNum" Label="Spouse S.S.N" Variant="Variant.Filled" Margin="Margin.Dense"/>
                            </MudItem>
                            <MudItem xs="12" md="4">
                                <MudTextField @bind-Value="@cc.StreetAddress1" Label="Street Address 1" Variant="Variant.Filled" Margin="Margin.Dense"/>
                            </MudItem>
                            <MudItem xs="12" md="4">
                                <MudTextField @bind-Value="@cc.StreetAddress2" Label="Street Address 2" Variant="Variant.Filled" Margin="Margin.Dense"/>
                            </MudItem>
                            <!-- City, State, zip Row 4 -->
                            <MudItem xs="5" md="4">
                                <MudTextField @bind-Value="@cc.City" Label="City" Variant="Variant.Filled" Margin="Margin.Dense"/>
                            </MudItem>
                            <MudHidden @bind-Value="@cc.CityStateGuid" Label="City" Variant="Variant.Filled"/>
                            <MudItem xs="2" md="4">
                                <MudTextField @bind-Value="@cc.State" Label="State" Variant="Variant.Filled" Margin="Margin.Dense"/>
                            </MudItem>
                            <MudItem xs="5" md="4">
                                <MudTextField @bind-Value="@cc.Zipcode" Label="Zip" Variant="Variant.Filled" Margin="Margin.Dense"/>
                            </MudItem>
                            <!-- Phone Numbers Row 5 -->
                            <MudItem xs="6" md="4">
                                <MudTextField @bind-Value="@cc.HomePhone" Label="Primary Phone" Variant="Variant.Filled" InputType="InputType.Telephone" Margin="Margin.Dense"/>
                            </MudItem>
                            <MudItem xs="6" md="4">
                                <MudTextField @bind-Value="@cc.WorkPhone" Label="Work/Cell Phone" Variant="Variant.Filled" InputType="InputType.Telephone" Margin="Margin.Dense"/>
                            </MudItem>
                            <!-- Email addys Row 6 -->
                            <MudItem xs="6" md="4">
                                <MudTextField @bind-Value="@cc.EmailAddress" Label="Email" Variant="Variant.Filled" HelperText="This is a required field." InputType="InputType.Email" Margin="Margin.Dense"/>
                            </MudItem>
                            <!-- Client Row 1 -->
                            <MudItem xs="12" md="4">
                                <MudTextField @bind-Value="@cc.ReferralSourceGuid" Label="ReferredBy" Variant="Variant.Filled" Margin="Margin.Dense"/>
                            </MudItem>


                            <MudItem xs="6" md="4">
                                <MudTextField @bind-Value="@cc.DriverLicense" Label="Driver Lic." Variant="Variant.Filled" Margin="Margin.Dense"/>
                            </MudItem>

                            <MudItem xs="6" md="4">
                                <MudTextField @bind-Value="@cc.SpouseDriverLicense" Label="Spouse Driver Lic." Variant="Variant.Filled" Margin="Margin.Dense"/>
                            </MudItem>

                            <!-- Address 1 Row 3 -->


                            <MudItem xs="6" md="4">
                                <MudTextField @bind-Value="@cc.PreferredCommMethodGuid" Label="Preferred Communication" Variant="Variant.Filled" HelperText="This is a required field." InputType="InputType.Email" Margin="Margin.Dense"/>
                            </MudItem>
                            <MudItem xs="6" md="4">
                                <MudTextField @bind-Value="@cc.TaxExempt" Label="Tax Exempt" Variant="Variant.Filled" HelperText="This is a required field." InputType="InputType.Email" Margin="Margin.Dense"/>
                            </MudItem>
                            <MudItem xs="6" md="4">
                                <MudSwitch @bind-Checked="@AdminSwitch" Color="Color.Secondary" Label="Is New Client"/>
                            </MudItem>
                            <!-- First Visit Anniversary 2 -->
                            <MudItem xs="6" md="4">
                                <MudTextField @bind-Value="@cc.FirstVisit" Label="First Visit" Variant="Variant.Filled" Margin="Margin.Dense"/>
                            </MudItem>
                            <MudItem xs="6" md="4">
                                <MudTextField @bind-Value="@cc.FirstName" Label="Employee on First Visit" Variant="Variant.Filled" Margin="Margin.Dense"/>
                            </MudItem>
                            <MudItem xs="6" md="4">
                                <MudTextField @bind-Value="@cc.TotalSales" Label="Total Sales" Variant="Variant.Filled" Margin="Margin.Dense"/>
                            </MudItem>
                            <MudItem xs="6" md="4">
                                <MudTextField @bind-Value="@cc.YtdTotalSales" Label="YTD Sales" Variant="Variant.Filled" Margin="Margin.Dense"/>
                            </MudItem>
                            <MudItem xs="6" md="4">
                                <MudTextField @bind-Value="@cc.YtdTotalReferrals" Label="YTD Referrals" Variant="Variant.Filled" Margin="Margin.Dense"/>
                            </MudItem>
                            <MudItem xs="6" md="4">
                                <MudTextField @bind-Value="@cc.YtdTotalVisits" Label="YTD  Visits" Variant="Variant.Filled" Margin="Margin.Dense"/>
                            </MudItem>
                            <!-- Row Anniversary 2 -->
                            <MudItem xs="6" md="4">
                                <MudTextField T="string" Value="@("Dec 12, 2022")" Label="Last Date Visited" Variant="Variant.Filled" Margin="Margin.Dense"/>
                            </MudItem>
                            <MudItem xs="6" md="4">
                                <MudTextField @bind-Value="@cc.TotalVisits" Label="Total Visits" Variant="Variant.Filled" Margin="Margin.Dense"/>
                            </MudItem>
                            <MudItem xs="6" md="4">
                                <MudText @bind-Value="@cc.Comment" Label="Comments" Variant="Variant.Filled" Margin="Margin.Dense"/>
                            </MudItem>
                            <MudItem xs="6" md="4">
                                <MudText @bind-Value="@cc.TotalReferrals" Label="Total Referrals" Variant="Variant.Filled" Margin="Margin.Dense"/>
                            </MudItem>
                            <MudItem xs="12" md="4">
                                <MudSelect T="LastEmployee" Label="Last Employee"
                                           Variant="Variant.Filled"
                                           AnchorOrigin="Origin.BottomCenter"
                                           Margin="Margin.Dense"
                                           OnInternalInputChanged="() => { date = _startDate; }">
                                    <MudSelectItem Value="@(new LastEmployee("Josie", "Cat"))"/>
                                    <MudSelectItem Value="@(new LastEmployee("Joe", "Mama"))"/>
                                    <MudSelectItem Value="@(new LastEmployee("Adam", "Ant"))"/>
                                    <MudSelectItem Value="@(new LastEmployee("Billy", "Willy"))"/>
                                    <MudSelectItem Value="@(new LastEmployee("Frank", "Marino"))"/>
                                    <MudSelectItem Value="@(new LastEmployee("John", "Doeball"))"/>
                                </MudSelect>
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                    <MudCardActions Class="pb-4 pl-4">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" @onclick="@(() => SaveChanges("Profile details saved", Severity.Success))">Save Changes</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudForm>
</MudTabPanel>

<MudTabPanel Text="Pet(s)">

<!-- Pet Expansions -->

<MudExpansionPanels>

<!-- Pets 1 -->
@foreach (var p in  cps)
{
    <MudExpansionPanel Dense="true">
    <TitleContent>
        <div class="d-flex">
            <MudIcon Icon="@Icons.Material.Filled.Pets" class="mr-3"></MudIcon>
            <MudText>
                <strong>Cujo</strong>
            </MudText>
        </div>
    </TitleContent>
    <ChildContent>
        <MudForm Model="cp1">
            <MudGrid>
                <MudItem xs="12" sm="12" md="12">
                    <MudCard Elevation="25">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText>Profile Details</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudGrid>
                                <MudItem xs="12" md="4" Style="height: 300px;">
                                    <MudCard Elevation="25">
                                        <MudCardHeader>
                                            <CardHeaderContent>
                                                <MudText>Pet Profile</MudText>
                                            </CardHeaderContent>
                                        </MudCardHeader>
                                        <MudCardContent>
                                            <div class="d-flex justify-center mb-4">
                                                <MudAvatar Image="@AvatarImageLink" Style="height:100px; width:100px;background-color: #28a745;">
                                                    @* if(AvatarImageLink == null)
                                                                                                             //{*@
                                                    <MudIcon Icon="@AvatarIcon" Style="font-size:5rem;"></MudIcon>
                                                </MudAvatar>
                                            </div>
                                            <MudText Align="Align.Center">@PetName</MudText>
                                        </MudCardContent>
                                        <MudCardActions Class="d-flex justify-center">
                                            <MudButton OnClick="DeletePicture" Color="@AvatarButtonColor">@AvatarButtonText</MudButton>
                                        </MudCardActions>
                                    </MudCard>
                                </MudItem>
                                <MudItem xs="12" md="8" Style="height: 300px;">
                                    <MudGrid>
                                        <MudItem xs="12" md="6">
                                            <MudTextField @bind-Value="cp1.PatientName" Label="PetName" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                        </MudItem>
                                        <MudItem xs="12" md="6">
                                            <MudTextField @bind-Value="cp1.PatientGuid" Label="Pet Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                        </MudItem>
                                        <MudItem xs="12" md="6">
                                            <MudTextField @bind-Value="cp1.Sex" Label="Sex" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                        </MudItem>
                                        <MudItem xs="12" md="6">
                                            <MudTextField @bind-Value="cp1.BirthDate" Label="Birth Date" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                        </MudItem>
                                        <MudItem xs="12" md="6">
                                            <MudTextField T="string" Value=@("12") Label="Age" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                        </MudItem>
                                        <MudItem xs="12" md="6">
                                            <MudTextField @bind-Value="cp1.Weight" Label="Birth Date" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                        </MudItem>
                                        <MudItem xs="12" md="6">
                                            <MudTextField @bind-Value="cp1.Active" Label="Is Active" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                        </MudItem>
                                        <MudItem xs="12" md="6">
                                            <MudTextField @bind-Value="cp1.ClientGuid" Label="Client Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                        </MudItem>
                                    </MudGrid>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.PatientName" Label="PetName" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.PatientGuid" Label="Pet Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.Sex" Label="Sex" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.BirthDate" Label="Birth Date" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField T="string" Value=@("12") Label="Age" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.Weight" Label="Birth Date" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.Active" Label="Is Active" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.ClientGuid" Label="Client Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.SpeciesGuid" Label="Species Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.BreedGuid" Label="Breed Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.ColorGuid" Label="Color Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.PatientAccountGuid" Label="Pet Account Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.LatestVisit" Label="Latetest Visit" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.PracticeVid" Label="Practice/Tenant Id" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.CreateDateTime" Label="Created Date" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.CreateUserGuid" Label="Created By" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.CreateWorkstationGuid" Label="WorkStation Id" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.DeceasedDate" Label="Deceased Date" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.FirstVisit" Label="First Visit Date" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.MaturityCode" Label="Maturity Code" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.MedicalAlert" Label="Medic Alert" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.ChronicAilment" Label="ChronicAilment" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.ContinuousMedication" Label="ContinuousMedication" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.Comment" Label="Comment" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.DoctorPreferenceGuid" Label="Prefered Groomer" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.TattooNum" Label="Tatoo Number" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.AvidChipNum" Label="Avid Chip Number" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.RefferalSourceGuid" Label="Referal Source Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.RabiesTagNum" Label="Weight" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.RabiesSerialNum" Label="Rabies Serial Number" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField T="string" Value=@("MyRabiesBrand") Label="Rabies Shot Brand" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.DeletedUniqifyingGuid" Label="DeletedUniqifyingGuid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.Specialinstructions" Label="Special Instructions" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.HealthPlanGuid" Label="Health Plan" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.TrainerGuid" Label="Trainer" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudText>
                                        <b>Admin Only</b>
                                    </MudText>
                                    <MudText Typo="Typo.body2">
                                        Indicates this information is visible to administrators only.
                                    </MudText>
                                    <MudSwitch @bind-Checked="@AdminSwitch" Color="Color.Secondary"/>
                                </MudItem>
                            </MudGrid>
                        </MudCardContent>
                        <MudCardActions Class="pb-4 pl-4">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" @onclick="@(() => SaveChanges("Profile details saved", Severity.Success))">Save Changes</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </MudForm>
    </ChildContent>
</MudExpansionPanel>

}
<MudExpansionPanel Dense="true">
    <TitleContent>
        <div class="d-flex">
            <MudIcon Icon="@Icons.Material.Filled.Pets" class="mr-3"></MudIcon>
            <MudText>
                <strong>Cujo</strong>
            </MudText>
        </div>
    </TitleContent>
    <ChildContent>
        <MudForm Model="cp1">
            <MudGrid>
                <MudItem xs="12" sm="12" md="12">
                    <MudCard Elevation="25">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText>Profile Details</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudGrid>
                                <MudItem xs="12" md="4" Style="height: 300px;">
                                    <MudCard Elevation="25">
                                        <MudCardHeader>
                                            <CardHeaderContent>
                                                <MudText>Pet Profile</MudText>
                                            </CardHeaderContent>
                                        </MudCardHeader>
                                        <MudCardContent>
                                            <div class="d-flex justify-center mb-4">
                                                <MudAvatar Image="@AvatarImageLink" Style="height:100px; width:100px;background-color: #28a745;">
                                                    @* if(AvatarImageLink == null)
                                                                                                             //{*@
                                                    <MudIcon Icon="@AvatarIcon" Style="font-size:5rem;"></MudIcon>
                                                </MudAvatar>
                                            </div>
                                            <MudText Align="Align.Center">@PetName</MudText>
                                        </MudCardContent>
                                        <MudCardActions Class="d-flex justify-center">
                                            <MudButton OnClick="DeletePicture" Color="@AvatarButtonColor">@AvatarButtonText</MudButton>
                                        </MudCardActions>
                                    </MudCard>
                                </MudItem>
                                <MudItem xs="12" md="8" Style="height: 300px;">
                                    <MudGrid>
                                        <MudItem xs="12" md="6">
                                            <MudTextField @bind-Value="cp1.PatientName" Label="PetName" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                        </MudItem>
                                        <MudItem xs="12" md="6">
                                            <MudTextField @bind-Value="cp1.PatientGuid" Label="Pet Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                        </MudItem>
                                        <MudItem xs="12" md="6">
                                            <MudTextField @bind-Value="cp1.Sex" Label="Sex" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                        </MudItem>
                                        <MudItem xs="12" md="6">
                                            <MudTextField @bind-Value="cp1.BirthDate" Label="Birth Date" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                        </MudItem>
                                        <MudItem xs="12" md="6">
                                            <MudTextField T="string" Value=@("12") Label="Age" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                        </MudItem>
                                        <MudItem xs="12" md="6">
                                            <MudTextField @bind-Value="cp1.Weight" Label="Birth Date" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                        </MudItem>
                                        <MudItem xs="12" md="6">
                                            <MudTextField @bind-Value="cp1.Active" Label="Is Active" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                        </MudItem>
                                        <MudItem xs="12" md="6">
                                            <MudTextField @bind-Value="cp1.ClientGuid" Label="Client Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                        </MudItem>
                                    </MudGrid>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.PatientName" Label="PetName" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.PatientGuid" Label="Pet Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.Sex" Label="Sex" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.BirthDate" Label="Birth Date" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField T="string" Value=@("12") Label="Age" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.Weight" Label="Birth Date" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.Active" Label="Is Active" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.ClientGuid" Label="Client Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.SpeciesGuid" Label="Species Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.BreedGuid" Label="Breed Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.ColorGuid" Label="Color Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.PatientAccountGuid" Label="Pet Account Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.LatestVisit" Label="Latetest Visit" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.PracticeVid" Label="Practice/Tenant Id" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.CreateDateTime" Label="Created Date" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.CreateUserGuid" Label="Created By" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.CreateWorkstationGuid" Label="WorkStation Id" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.DeceasedDate" Label="Deceased Date" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.FirstVisit" Label="First Visit Date" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.MaturityCode" Label="Maturity Code" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.MedicalAlert" Label="Medic Alert" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.ChronicAilment" Label="ChronicAilment" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.ContinuousMedication" Label="ContinuousMedication" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.Comment" Label="Comment" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.DoctorPreferenceGuid" Label="Prefered Groomer" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.TattooNum" Label="Tatoo Number" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.AvidChipNum" Label="Avid Chip Number" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.RefferalSourceGuid" Label="Referal Source Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.RabiesTagNum" Label="Weight" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.RabiesSerialNum" Label="Rabies Serial Number" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField T="string" Value=@("MyRabiesBrand") Label="Rabies Shot Brand" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.DeletedUniqifyingGuid" Label="DeletedUniqifyingGuid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.Specialinstructions" Label="Special Instructions" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.HealthPlanGuid" Label="Health Plan" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.TrainerGuid" Label="Trainer" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudText>
                                        <b>Admin Only</b>
                                    </MudText>
                                    <MudText Typo="Typo.body2">
                                        Indicates this information is visible to administrators only.
                                    </MudText>
                                    <MudSwitch @bind-Checked="@AdminSwitch" Color="Color.Secondary"/>
                                </MudItem>
                            </MudGrid>
                        </MudCardContent>
                        <MudCardActions Class="pb-4 pl-4">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" @onclick="@(() => SaveChanges("Profile details saved", Severity.Success))">Save Changes</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </MudForm>
    </ChildContent>
</MudExpansionPanel>

<!-- Pets 2 -->

<MudExpansionPanel Dense="true">
    <TitleContent>
        <div class="d-flex">
            <MudIcon Icon="@Icons.Material.Filled.Pets" class="mr-3"></MudIcon>
            <MudText>
                <strong>Sasha</strong>
            </MudText>
        </div>
    </TitleContent>
    <ChildContent>
        <MudForm Model="cp2">
            <MudGrid>

                <MudItem xs="12" sm="4" md="3">
                    <MudCard Elevation="25">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText>Pet Profile</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <div class="d-flex justify-center mb-4">
                                <MudAvatar Image="@AvatarImageLink" Style="height:100px; width:100px;background-color: #28a745;">
                                    @* if(AvatarImageLink == null)
                                    //{*@
                                    <MudIcon Icon="@AvatarIcon" Style="font-size:5rem;"></MudIcon>
                                </MudAvatar>
                            </div>
                            <MudText Align="Align.Center">@PetName</MudText>
                        </MudCardContent>
                        <MudCardActions Class="d-flex justify-center">
                            <MudButton OnClick="DeletePicture" Color="@AvatarButtonColor">@AvatarButtonText</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" sm="8" md="9">
                    <MudCard Elevation="25">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText>Profile Details</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudGrid>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.PatientName" Label="PetName" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.PatientGuid" Label="Pet Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.Sex" Label="Sex" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.BirthDate" Label="Birth Date" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField T="string" Value=@("12") Label="Age" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.Weight" Label="Birth Date" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.Active" Label="Is Active" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.ClientGuid" Label="Client Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.SpeciesGuid" Label="Species Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.BreedGuid" Label="Breed Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.ColorGuid" Label="Color Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.PatientAccountGuid" Label="Pet Account Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.LatestVisit" Label="Latetest Visit" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.PracticeVid" Label="Practice/Tenant Id" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.CreateDateTime" Label="Created Date" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.CreateUserGuid" Label="Created By" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.CreateWorkstationGuid" Label="WorkStation Id" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.DeceasedDate" Label="Deceased Date" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.FirstVisit" Label="First Visit Date" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.MaturityCode" Label="Maturity Code" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.MedicalAlert" Label="Medic Alert" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.ChronicAilment" Label="ChronicAilment" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.ContinuousMedication" Label="ContinuousMedication" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.Comment" Label="Comment" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.DoctorPreferenceGuid" Label="Prefered Groomer" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.TattooNum" Label="Tatoo Number" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.AvidChipNum" Label="Avid Chip Number" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.RefferalSourceGuid" Label="Referal Source Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.RabiesTagNum" Label="Weight" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.RabiesSerialNum" Label="Rabies Serial Number" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField T="string" Value=@("MyRabiesBrand") Label="Rabies Shot Brand" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.DeletedUniqifyingGuid" Label="DeletedUniqifyingGuid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.Specialinstructions" Label="Special Instructions" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.HealthPlanGuid" Label="Health Plan" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.TrainerGuid" Label="Trainer" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudText>
                                        <b>Admin Only</b>
                                    </MudText>
                                    <MudText Typo="Typo.body2">
                                        Indicates this information is visible to administrators only.
                                    </MudText>
                                    <MudSwitch @bind-Checked="@AdminSwitch" Color="Color.Secondary"/>
                                </MudItem>
                            </MudGrid>
                        </MudCardContent>
                        <MudCardActions Class="pb-4 pl-4">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" @onclick="@(() => SaveChanges("Profile details saved", Severity.Success))">Save Changes</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </MudForm>
    </ChildContent>
</MudExpansionPanel>

<!-- Pets 3 -->

<MudExpansionPanel Dense="true">
    <TitleContent>
        <div class="d-flex">
            <MudIcon Icon="@Icons.Material.Filled.Pets" class="mr-3"></MudIcon>
            <MudText>
                <strong>Cosmo</strong>
            </MudText>
        </div>
    </TitleContent>
    <ChildContent>
        <MudForm Model="cp3">
            <MudGrid>

                <MudItem xs="12" sm="4" md="3">
                    <MudCard Elevation="25">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText>Pet Profile</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <div class="d-flex justify-center mb-4">
                                <MudAvatar Image="@AvatarImageLink" Style="height:100px; width:100px;background-color: #28a745;">
                                    @* if(AvatarImageLink == null)
                                    //{*@
                                    <MudIcon Icon="@AvatarIcon" Style="font-size:5rem;"></MudIcon>
                                </MudAvatar>
                            </div>
                            <MudText Align="Align.Center">@PetName</MudText>
                        </MudCardContent>
                        <MudCardActions Class="d-flex justify-center">
                            <MudButton OnClick="DeletePicture" Color="@AvatarButtonColor">@AvatarButtonText</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" sm="8" md="9">
                    <MudCard Elevation="25">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText>Profile Details</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudGrid>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.PatientName" Label="PetName" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.PatientGuid" Label="Pet Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.Sex" Label="Sex" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.BirthDate" Label="Birth Date" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField T="string" Value=@("12") Label="Age" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.Weight" Label="Birth Date" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.Active" Label="Is Active" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.ClientGuid" Label="Client Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.SpeciesGuid" Label="Species Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.BreedGuid" Label="Breed Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.ColorGuid" Label="Color Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.PatientAccountGuid" Label="Pet Account Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.LatestVisit" Label="Latetest Visit" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.PracticeVid" Label="Practice/Tenant Id" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.CreateDateTime" Label="Created Date" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.CreateUserGuid" Label="Created By" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.CreateWorkstationGuid" Label="WorkStation Id" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.DeceasedDate" Label="Deceased Date" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.FirstVisit" Label="First Visit Date" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.MaturityCode" Label="Maturity Code" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.MedicalAlert" Label="Medic Alert" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.ChronicAilment" Label="ChronicAilment" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.ContinuousMedication" Label="ContinuousMedication" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.Comment" Label="Comment" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.DoctorPreferenceGuid" Label="Prefered Groomer" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.TattooNum" Label="Tatoo Number" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.AvidChipNum" Label="Avid Chip Number" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.RefferalSourceGuid" Label="Referal Source Guid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.RabiesTagNum" Label="Weight" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.RabiesSerialNum" Label="Rabies Serial Number" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField T="string" Value=@("MyRabiesBrand") Label="Rabies Shot Brand" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.DeletedUniqifyingGuid" Label="DeletedUniqifyingGuid" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.Specialinstructions" Label="Special Instructions" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.HealthPlanGuid" Label="Health Plan" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12" md="4">
                                    <MudTextField @bind-Value="cp1.TrainerGuid" Label="Trainer" Variant="Variant.Filled" Margin="Margin.Dense"/>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudText>
                                        <b>Admin Only</b>
                                    </MudText>
                                    <MudText Typo="Typo.body2">
                                        Indicates this information is visible to administrators only.
                                    </MudText>
                                    <MudSwitch @bind-Checked="@AdminSwitch" Color="Color.Secondary"/>
                                </MudItem>
                            </MudGrid>
                        </MudCardContent>
                        <MudCardActions Class="pb-4 pl-4">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" @onclick="@(() => SaveChanges("Profile details saved", Severity.Success))">Save Changes</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </MudForm>
    </ChildContent>
</MudExpansionPanel>

</MudExpansionPanels>
</MudTabPanel>


<MudTabPanel Text="Pet Vitals">
    <MudCard>
        @* <MudCardHeader>
                <CardHeaderContent>
                    <MudText>Notifications</MudText>
                </CardHeaderContent>
            </MudCardHeader> *@
        <MudCardContent>
            <MudGrid>
                <MudItem xs="12" sm="4">
                    <MudText>
                        <b>Attributes</b>
                    </MudText>
                    <MudText Typo="Typo.body2">
                        Please check all that apply:
                    </MudText>
                    <div class="d-flex flex-column mt-6">
                        <MudCheckBox @bind-Checked="@Warning_1" Label="Easy" Color="Color.Success"></MudCheckBox>
                        <MudCheckBox @bind-Checked="@Warning_2" Label="Fair" Color="Color.Warning"></MudCheckBox>
                        <MudCheckBox @bind-Checked="@Warning_3" Label="Difficult" Color="Color.Error"></MudCheckBox>
                        <MudCheckBox @bind-Checked="@Warning_4" Label="Biter" Color="Color.Primary"></MudCheckBox>
                        <MudCheckBox @bind-Checked="@Warning_5" Label="Soils Cage" Color="Color.Primary"></MudCheckBox>
                        <MudCheckBox @bind-Checked="@Warning_6" Label="Noisy" Color="Color.Primary"></MudCheckBox>
                        <MudCheckBox @bind-Checked="@Warning_7" Label="Shy" Color="Color.Primary"></MudCheckBox>
                        <MudCheckBox @bind-Checked="@Warning_8" Label="Biter" Color="Color.Error"></MudCheckBox>
                        <MudCheckBox @bind-Checked="@Warning_9" Label="Blind" Color="Color.Primary"></MudCheckBox>
                        <MudCheckBox @bind-Checked="@Warning_10" Label="Deaf" Color="Color.Primary"></MudCheckBox>
                        <MudCheckBox @bind-Checked="@Warning_11" Label="Diabetic" Color="Color.Primary"></MudCheckBox>
                        <MudCheckBox @bind-Checked="@Warning_12" Label="Epileptic" Color="Color.Error"></MudCheckBox>
                        <MudCheckBox @bind-Checked="@Warning_13" Label="Deaf" Color="Color.Primary"></MudCheckBox>
                        <MudCheckBox @bind-Checked="@Warning_14" Label="Burns Easily" Color="Color.Primary"></MudCheckBox>
                    </div>
                </MudItem>
                <MudItem xs="12" sm="8">
                    <MudText>
                        <b>Noteable ToDo's</b>
                    </MudText>
                    <MudText Typo="Typo.body2">
                        Please do the following each visit:
                    </MudText>
                    <div class="d-flex flex-column mt-6">
                        <MudCheckBox @bind-Checked="@Notable_1" Label="Check Anals" Color="Color.Primary"></MudCheckBox>
                        <MudCheckBox @bind-Checked="@Notable_2" Label="Check Ears" Color="Color.Error"></MudCheckBox>
                        <MudCheckBox @bind-Checked="@Notable_3" Label="Check Fleas" Color="Color.Warning"></MudCheckBox>
                        <MudCheckBox @bind-Checked="@Notable_4" Label="Brush Teeth" Color="Color.Success"></MudCheckBox>
                    </div>
                </MudItem>
            </MudGrid>
        </MudCardContent>
        <MudCardActions Class="pb-4 pl-4">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" @onclick="@(() => SaveChanges("Notification settings saved", Severity.Success))">Save Changes</MudButton>
        </MudCardActions>
    </MudCard>
</MudTabPanel>


<MudTabPanel Text="Notes">
    <MudForm @ref="form">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText>Change Password</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudGrid>
                    <MudItem xs="12" md="4">
                        <MudTextField T="string" Label="Password" Variant="Variant.Outlined" InputType="InputType.Password" @ref="pwField1" Required="true" RequiredError="Password is required!"/>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField T="string" Label="Password Confirmation" Variant="Variant.Outlined" InputType="InputType.Password"/>
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField T="string" Label="Current Password" Variant="Variant.Outlined" InputType="InputType.Password"/>
                    </MudItem>
                </MudGrid>
            </MudCardContent>
            <MudCardActions Class="pb-4 pl-4">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" @onclick="@(() => SaveChanges("Profile details saved", Severity.Success))">Save Changes</MudButton>
            </MudCardActions>
        </MudCard>
    </MudForm>
</MudTabPanel>
</MudTabs>


@code{

    private Mdl.Client cc { get; set; } = new Mdl.Client { ClientGuid = new Guid(), PracticeVid = "1", ClientAccountId = "1", FirstName = "Joe", LastName = "Smith", SpouseFirstName = "val", SpouseLastName = "val", StreetAddress1 = "val", StreetAddress2 = "val", CityStateGuid = new Guid(), City = "Fort Lauderdale", State = "Fl", Zipcode = "32333", HomePhone = "(954) 654-5455", WorkPhone = "(305) 564-6545", EmailAddress = "email@somewhere.com", Active = true, FirstVisit = DateTime.Now, LatestVisit = DateTime.Now, TotalSales = 1251.58m, Deleted = false, Salutation = "Mr.", CreateDateTime = DateTime.Now, CreateUserGuid = new Guid(), CreateWorkstationGuid = new Guid(), MonetaryFlag = "$", DiscountGuid = new Guid(), Comment = "val", TotalVisits = 22, ReferralSourceGuid = new Guid(), TotalReferrals = 2, ClientTypeGuid = new Guid(), ImageGuid = new Guid(), SocialSecurNum = "321-54-9878", SpouseSocialSecurNum = "456-54-9633", PreferredCommMethodGuid = new Guid(), FaxNumber = "(356) 852-5464", DeletedUniqifyingGuid = new Guid(), TaxExempt = false, DriverLicense = "BR549", SpouseDriverLicense = "BR974", PreviousAccountId = "val", YtdTotalSales = 123.83m, YtdTotalReferrals = 2, YtdTotalVisits = 5 };
    private Mdl.Pet cp1 { get; set; } = new Mdl.Pet();
    private Mdl.Pet cp2 { get; set; } = new Mdl.Pet();
    private Mdl.Pet cp3 { get; set; } = new Mdl.Pet();
    private List<Mdl.Client> customers = new List<Mdl.Client>();

    private List<Mdl.Pet> cps { get; set; } = new List<Mdl.Pet>
    {
        new Pet() { PatientGuid = new Guid(), ClientGuid = new Guid(), SpeciesGuid = new Guid(), BreedGuid = new Guid(), ColorGuid = new Guid(), PatientAccountGuid = "A", PatientName = "Oscar", StableGuid = new Guid(), Sex = "Male", BirthDate = DateTime.Now, Active = true, LatestVisit = DateTime.Now, PracticeVid = "65", Deleted = false, CreateDateTime = DateTime.Now, CreateUserGuid = new Guid(), CreateWorkstationGuid = new Guid(), DeceasedDate = DateTime.Now, FirstVisit = DateTime.Now, MaturityCode = "A", MedicalAlert = "", ChronicAilment = "", ContinuousMedication = "", Comment = "", Weight = 3347.49d, DoctorPreferenceGuid = new Guid(), ImageGuid = new Guid(), TattooNum = "", AvidChipNum = "", RefferalSourceGuid = new Guid(), RabiesTagNum = "365143", RabiesSerialNum = "", RabioesBrandName = "Imrab", DeletedUniqifyingGuid = new Guid(), Specialinstructions = "", HealthPlanGuid = new Guid(), TrainerGuid = new Guid() },
        new Pet() { PatientGuid = new Guid(), ClientGuid = new Guid(), SpeciesGuid = new Guid(), BreedGuid = new Guid(), ColorGuid = new Guid(), PatientAccountGuid = "A", PatientName = "Oscar", StableGuid = new Guid(), Sex = "Male", BirthDate = DateTime.Now, Active = true, LatestVisit = DateTime.Now, PracticeVid = "65", Deleted = false, CreateDateTime = DateTime.Now, CreateUserGuid = new Guid(), CreateWorkstationGuid = new Guid(), DeceasedDate = DateTime.Now, FirstVisit = DateTime.Now, MaturityCode = "A", MedicalAlert = "", ChronicAilment = "", ContinuousMedication = "", Comment = "", Weight = 3347.49d, DoctorPreferenceGuid = new Guid(), ImageGuid = new Guid(), TattooNum = "", AvidChipNum = "", RefferalSourceGuid = new Guid(), RabiesTagNum = "365143", RabiesSerialNum = "", RabioesBrandName = "Imrab", DeletedUniqifyingGuid = new Guid(), Specialinstructions = "", HealthPlanGuid = new Guid(), TrainerGuid = new Guid() },
        new Pet() { PatientGuid = new Guid(), ClientGuid = new Guid(), SpeciesGuid = new Guid(), BreedGuid = new Guid(), ColorGuid = new Guid(), PatientAccountGuid = "A", PatientName = "Oscar", StableGuid = new Guid(), Sex = "Male", BirthDate = DateTime.Now, Active = true, LatestVisit = DateTime.Now, PracticeVid = "65", Deleted = false, CreateDateTime = DateTime.Now, CreateUserGuid = new Guid(), CreateWorkstationGuid = new Guid(), DeceasedDate = DateTime.Now, FirstVisit = DateTime.Now, MaturityCode = "A", MedicalAlert = "", ChronicAilment = "", ContinuousMedication = "", Comment = "", Weight = 3347.49d, DoctorPreferenceGuid = new Guid(), ImageGuid = new Guid(), TattooNum = "", AvidChipNum = "", RefferalSourceGuid = new Guid(), RabiesTagNum = "365143", RabiesSerialNum = "", RabioesBrandName = "Imrab", DeletedUniqifyingGuid = new Guid(), Specialinstructions = "", HealthPlanGuid = new Guid(), TrainerGuid = new Guid() }
    };

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        customers = new List<Mdl.Client>
        {
            new Mdl.Client() { ClientGuid = new Guid(), PracticeVid = "1", ClientAccountId = "1", FirstName = "Joe", LastName = "Smith", SpouseFirstName = "val", SpouseLastName = "val", StreetAddress1 = "val", StreetAddress2 = "val", CityStateGuid = new Guid(), City = "Fort Lauderdale", State = "Fl", Zipcode = "32333", HomePhone = "(954) 654-5455", WorkPhone = "(305) 564-6545", EmailAddress = "email@somewhere.com", Active = true, FirstVisit = DateTime.Now, LatestVisit = DateTime.Now, TotalSales = 1251.58m, Deleted = false, Salutation = "Mr.", CreateDateTime = DateTime.Now, CreateUserGuid = new Guid(), CreateWorkstationGuid = new Guid(), MonetaryFlag = "$", DiscountGuid = new Guid(), Comment = "val", TotalVisits = 22, ReferralSourceGuid = new Guid(), TotalReferrals = 2, ClientTypeGuid = new Guid(), ImageGuid = new Guid(), SocialSecurNum = "321-54-9878", SpouseSocialSecurNum = "456-54-9633", PreferredCommMethodGuid = new Guid(), FaxNumber = "(356) 852-5464", DeletedUniqifyingGuid = new Guid(), TaxExempt = false, DriverLicense = "BR549", SpouseDriverLicense = "BR974", PreviousAccountId = "val", YtdTotalSales = 123.83m, YtdTotalReferrals = 2, YtdTotalVisits = 5 },
            new Mdl.Client() { ClientGuid = new Guid(), PracticeVid = "1", ClientAccountId = "2", FirstName = "Gail", LastName = "Whoknows", SpouseFirstName = "val", SpouseLastName = "val", StreetAddress1 = "val", StreetAddress2 = "val", CityStateGuid = new Guid(), City = "Fort Lauderdale", State = "Fl", Zipcode = "33453", HomePhone = "(954) 654-5455", WorkPhone = "(305) 564-6545", EmailAddress = "email@somewhere.com", Active = true, FirstVisit = DateTime.Now, LatestVisit = DateTime.Now, TotalSales = 3281.58m, Deleted = false, Salutation = "Mrs.", CreateDateTime = DateTime.Now, CreateUserGuid = new Guid(), CreateWorkstationGuid = new Guid(), MonetaryFlag = "$", DiscountGuid = new Guid(), Comment = "val", TotalVisits = 22, ReferralSourceGuid = new Guid(), TotalReferrals = 2, ClientTypeGuid = new Guid(), ImageGuid = new Guid(), SocialSecurNum = "321-54-9878", SpouseSocialSecurNum = "456-54-9633", PreferredCommMethodGuid = new Guid(), FaxNumber = "(356) 852-5464", DeletedUniqifyingGuid = new Guid(), TaxExempt = false, DriverLicense = "BR345", SpouseDriverLicense = "BR756", PreviousAccountId = "val", YtdTotalSales = 352.83m, YtdTotalReferrals = 5, YtdTotalVisits = 5 },
            new Mdl.Client() { ClientGuid = new Guid(), PracticeVid = "1", ClientAccountId = "3", FirstName = "Sam", LastName = "IdontCare", SpouseFirstName = "val", SpouseLastName = "val", StreetAddress1 = "val", StreetAddress2 = "val", CityStateGuid = new Guid(), City = "Fort Lauderdale", State = "Fl", Zipcode = "33386", HomePhone = "(954) 654-5455", WorkPhone = "(305) 564-6545", EmailAddress = "email@somewhere.com", Active = true, FirstVisit = DateTime.Now, LatestVisit = DateTime.Now, TotalSales = 4271.58m, Deleted = false, Salutation = "Ms.", CreateDateTime = DateTime.Now, CreateUserGuid = new Guid(), CreateWorkstationGuid = new Guid(), MonetaryFlag = "$", DiscountGuid = new Guid(), Comment = "val", TotalVisits = 22, ReferralSourceGuid = new Guid(), TotalReferrals = 2, ClientTypeGuid = new Guid(), ImageGuid = new Guid(), SocialSecurNum = "321-54-9878", SpouseSocialSecurNum = "456-54-9633", PreferredCommMethodGuid = new Guid(), FaxNumber = "(356) 852-5464", DeletedUniqifyingGuid = new Guid(), TaxExempt = false, DriverLicense = "BR867", SpouseDriverLicense = "BR951", PreviousAccountId = "val", YtdTotalSales = 325.83m, YtdTotalReferrals = 8, YtdTotalVisits = 5 }
        };
    }

    public string AvatarImageLink { get; set; } = null;
    public string AvatarIcon { get; set; } = Icons.Material.Filled.Pets;
    public string AvatarButtonText { get; set; } = "Upload Picture";
    public Color AvatarButtonColor { get; set; } = Color.Secondary;
    private string PetName { get; set; } = "Cujo";
    public string Comment { get; set; } = "There once was a man from Nantucket...";

    private string Breed { get; set; } = "Chihuahua";
    private string Species { get; set; } = "Canine";
    private string Weight { get; set; } = "9 lbs";
    private string Color1 { get; set; } = "White";
    private string Color2 { get; set; } = "Brown";
    private string Color3 { get; set; } = "Spots";
    private string Age { get; set; } = "13 Years";

    private string JobTitle { get; set; } = "IT Consultant";
    private string Email { get; set; } = "Youcanprobably@findout.com";


    private bool AdminSwitch { get; set; } = true;


    private bool Warning_1 { get; set; } = true;
    private bool Warning_2 { get; set; }
    private bool Warning_3 { get; set; }
    private bool Warning_4 { get; set; } = true;
    private bool Warning_5 { get; set; }
    private bool Warning_6 { get; set; }
    private bool Warning_7 { get; set; } = true;
    private bool Warning_8 { get; set; }
    private bool Warning_9 { get; set; } = true;
    private bool Warning_10 { get; set; } = true;
    private bool Warning_11 { get; set; } = true;
    private bool Warning_12 { get; set; }
    private bool Warning_13 { get; set; } = true;
    private bool Warning_14 { get; set; }


    private bool Notable_1 { get; set; }
    private bool Notable_2 { get; set; } = true;
    private bool Notable_3 { get; set; } = true;
    private bool Notable_4 { get; set; }

    DateTime? _startDate = DateTime.Now.Add(TimeSpan.FromDays(5));
    DateTime? date = DateTime.Today;

    void DeletePicture()
    {
        if (!String.IsNullOrEmpty(AvatarImageLink))
        {
            AvatarImageLink = null;
            AvatarIcon = Icons.Material.Filled.Pets;
            AvatarButtonText = "Upload Picture";
            AvatarButtonColor = Color.Secondary;
        }
        else
        {
            return;
        }
    }

    MudForm form;
    MudTextField<string> pwField1;

    private IEnumerable<string> PasswordStrength(string pw)
    {
        if (string.IsNullOrWhiteSpace(pw))
        {
            yield return "Password is required!";
            yield break;
        }
        if (pw.Length < 8)
            yield return "Password must be at least of length 8";
        if (!Regex.IsMatch(pw, @"[A-Z]"))
            yield return "Password must contain at least one capital letter";
        if (!Regex.IsMatch(pw, @"[a-z]"))
            yield return "Password must contain at least one lowercase letter";
        if (!Regex.IsMatch(pw, @"[0-9]"))
            yield return "Password must contain at least one digit";
    }

    private string PasswordMatch(string arg)
    {
        if (pwField1.Value != arg)
            return "Passwords don't match";
        return null;
    }

    void SaveChanges(string message, Severity severity)
    {
        Snackbar.Add(message, severity, config => { config.ShowCloseIcon = false; });
    }

    public class russian
    {
        public string stink { get; set; }
        public string look { get; set; }
        public string asshole { get; set; }
        public string stunk { get; set; }
        public string stank { get; set; }
    }

    public class LastEmployee
    {
        public LastEmployee(string firstname, string lastname)
        {
            FirstName = firstname;
            LastName = lastname;
        }

        public readonly string FirstName;
        public readonly string LastName;

        public override int GetHashCode() => FirstName?.GetHashCode() ?? 0;
        public override string ToString() => FirstName;
    }

}